$bg-color: #100f14;
$primary: #e87070;
$dk-text: #d2d8f7;
$dk-subtext: #d2d8f7c6;
$card-1: #1a181d;
$card-2: #141319;
$card-3: #23212b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
body {
  background-color: $bg-color;
  //   background-color: #151319;
  //   background-color: #1a181d;
  h2 {
    color: $dk-text;
    font-size: 20px;
  }
  p,
  span,
  i,
  q {
    color: $dk-subtext;
  }
  input,
  textarea,
  select {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    outline-width: 0;
    background-color: #24222d;
    color: $dk-text;
    resize: none;
  }
  input {
    height: 35px;
  }
  textarea {
    height: 120px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  select {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type='date'] {
    // width: 100%;
    padding: 0 5px 0 10px;
    &::-webkit-calendar-picker-indicator {
      filter: invert(100%) sepia(54%) saturate(5650%) hue-rotate(179deg) brightness(101%)
        contrast(93%);
    }
  }

  .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 48;
    font-size: 18px;
  }
}
header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
  h1 {
    color: $dk-text;
    // padding-left: 5vw;
    font-size: 48px;
    width: 250px;
  }
  span {
    color: $primary;
  }
  div {
    width: 600px;
  }
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 5vw;
  .sidebar,
  .content {
    background-color: $card-2;
    border-radius: 20px;
    padding: 30px;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .section-header {
    margin-bottom: 20px;
  }
  .sidebar {
    background-color: $card-2;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    .filter,
    .project {
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }
    .github {
      height: 24px;
      display: flex;
      justify-content: center;
      .fa-github {
        font-size: 25px;
      }
    }
  }
  .task,
  p {
    display: flex;
  }
  .content {
    width: 600px;
    overflow-x: hidden;
    .t-wrapper,
    .f-wrapper,
    .o-wrapper,
    .e-wrapper {
      height: 100%;
    }
    .t-wrapper {
      display: flex;
      flex-direction: column;
      .task {
        border-radius: 10px;
        height: 35px;
        padding: 5px 15px;
        display: flex;
        background-color: #24222d;
        transition: 0.2s;
        .hide-check {
          display: none;
        }
        .checkmark {
          margin: auto 0;
        }
        p {
          height: 25px;
          border: none;
          border-radius: 10px;
          line-height: 25px;
          font-size: 14px;
          font-weight: 300;
          padding-left: 10px;
          outline-width: 0;
          background-color: #24222d;
          color: $dk-text;
        }
        & input[type='checkbox'] {
          margin-right: 1vw;
        }
        div:last-of-type {
          margin-left: auto;
        }
        &:hover {
          .actions {
            .options {
              opacity: 1;
              transition: 0.2s;
            }
          }
        }
        .actions {
          z-index: 2;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.1s;
          .options {
            opacity: 0;
          }
          span {
            display: flex;
          }
          i {
            color: #8a7fa2;
          }
        }
      }
    }
    .f-wrapper,
    .e-wrapper {
      display: none;
      .task-form {
        border-radius: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .form-header {
          margin-top: 30px;
        }
        .extras-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }
        .extras {
          width: 45%;
        }
        .fa-star {
          font-size: 20px;
          margin-top: auto;
          margin-bottom: 8px;
          transition: 0.2s;
          &:hover {
            color: $primary;
            transform: scale(1.1);
          }
        }
        .btn-group {
          margin-top: auto;
          display: flex;
        }
        .back-btn {
          background-color: $card-2;
          border: none;
          color: $dk-text;
          font-size: 30px;
        }
        .submit-btn {
          width: 130px;
          height: 40px;
          border-radius: 30px;
          border: none;
          margin-left: auto;
          font-size: 16px;
          color: $bg-color;
          background-color: $primary;
          transition: 0.2s;
          &:hover {
            transform: scale(1.02);
          }
          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
    .o-wrapper {
      display: none;
      .expand-view {
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 20px;
        }
        // q {}
        .expand-header {
          display: flex;
          justify-content: space-between;
          .fa-star {
            font-size: 22px;
          }
        }
        .form-header {
          margin: 30px 0;
        }
        .extras-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }
        .extras {
          width: 45%;
        }
        .btn-group {
          margin-top: auto;
          .close-btn {
            background-color: $card-2;
            border: none;
            color: $dk-text;
            font-size: 30px;
          }
        }
      }
    }
    .add-btn {
      margin-top: auto;
      width: 130px;
      height: 40px;
      border-radius: 30px;
      border: none;
      margin-left: auto;
      font-size: 16px;
      color: $bg-color;
      background-color: $primary;
      transition: 0.2s;
      &:hover {
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.slide-tasks-in {
  animation: ease-out taskRight reverse 0.1s;
}
.slide-tasks-out {
  animation: ease-out taskRight 0.1s;
}
@keyframes taskRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}
.slide-form-in {
  animation: ease-out formRight 0.1s;
}
.slide-form-out {
  animation: ease-out formRight reverse 0.1s;
}
@keyframes formRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// .cards .content .t-wrapper,
// .cards .content .f-wrapper {
//   display: none;
// }
