html[data-theme='light'] {
  --bg-color: #e4f0fa; //#f3ede394;
  --primary: #ff7c7c;
  --dk-text: #334669;
  --dk-subtext: #7a8aa3;
  --card: #e6eef8; //#f3f0e384;
  --component-s: #c4cdd1;
  --component: #d3dee3;
  --grad-base: rgb(250, 177, 135);
  --gradient-1: rgb(250, 177, 135);
  --gradient-2: rgb(246, 117, 117);
  --cal-indicator: invert(72%) sepia(40%) saturate(5103%) hue-rotate(314deg)
    brightness(110%) contrast(105%);
}

html[data-theme='dark'] {
  --bg-color: #121215;
  --primary: #8d8fd2;
  --dk-text: #dfe0fb; //#d9d9e8;
  --dk-subtext: #84849d;
  --card: #18181c;
  --component-s: #454254;
  --component: #2f2d36;
  --grad-base: rgb(119, 81, 246);
  --gradient-1: rgb(119, 81, 246);
  --gradient-2: rgb(104, 61, 247);
  --cal-indicator: invert(57%) sepia(96%) saturate(184%) hue-rotate(200deg)
    brightness(85%) contrast(93%);
}

$bg-color: var(--bg-color);
$primary: var(--primary);
$dk-text: var(--dk-text);
$dk-subtext: var(--dk-subtext);
$card: var(--card);
$component-s: var(--component-s);
$component: var(--component);
$grad-base: var(--grad-base);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$cal-indicator: var(--cal-indicator);
// $bg-color: #d2d8f7a6;
// $primary: #e87070;
// $dk-text: #d2d8f7;
// $dk-subtext: #d2d8f7a6;
// $card: #141319;
// $component-s: #353240;
// $component: #24222d;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;

  // border: 1px solid red;
}
body {
  background-color: $bg-color;
  // background-color: #151319;
  // background-color: #1a181d;
  transition: ease-in-out 0.3s;
  height: 100vh;
  h2,
  h3 {
    color: $primary;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
    color: $dk-subtext;
    display: flex;
    align-items: end;
    // line-height: 25px;
    height: 25px;
  }
  p,
  span,
  i,
  q {
    color: $dk-subtext; //$primary
  }
  input,
  textarea,
  select {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    outline-width: 0;
    background-color: $component;
    color: $dk-text;
    resize: none;
  }
  input {
    height: 35px;
  }
  textarea {
    height: 120px;
    // margin-bottom: 10px;
    padding-top: 10px;
  }
  select {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  button {
    transition: ease-in-out 0.3s;
  }
  .material-symbols-rounded,
  .material-symbols-outlined {
    font-size: 18px;
  }
  .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 48;
  }
}
header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8vw;
  transition: 0.3s ease-out;
  h1 {
    color: $dk-text;
    // padding-left: 5vw;
    font-size: 48px;
    width: 285px;
  }
  span {
    background: $grad-base;
    background: linear-gradient(130deg, $gradient-1 0%, $gradient-2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in 0.3s;
  }
  div {
    width: 510px;
  }
}
.hidden {
  display: none;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  // flex-direction: row-reverse;
  justify-content: center;
  gap: 24px;
  padding: 0 8vw;
  .options {
    &:hover {
      color: $primary;
      transform: scale(1.2);
      transition: 0.2s ease-in-out;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  .sidebar,
  .content {
    background-color: $card;
    border-radius: 24px;
    padding: 24px;
    height: 50vh;
    transition: ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    //   rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 13px 27px -5px,
    //   rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
  }
  .section-header {
    margin-bottom: 16px;
    user-select: none;
    transition: ease-in 0.3s;
  }
  .sidebar {
    background-color: $card;
    width: 270px;
    display: flex;
    flex-direction: column;
    .filters {
      margin-bottom: 40px;
    }
    .filters-title-grp {
      display: flex;
      justify-content: space-between;
    }
    .theme {
      height: 26px;
      font-size: 24px;
      color: $component-s;
      user-select: none;
      transition: 0.2s ease-out;
      // pointer-events: none;
      // padding-right: 10px;
      &:hover {
        transform: scale(1.03);
        color: $primary;
      }
      &:active {
        transform: scale(0.97);
      }
    }
    .filter {
      height: 32px;
      // background-color: $card;
      .fa-star {
        // height: 18px;
        padding: 1px;
        width: 18px;
      }
    }
    .filter,
    .project {
      padding: 8px;
      margin-bottom: 8px;
      border-radius: 8px;
      user-select: none;

      i {
        margin-right: 6px;
      }

      p {
        user-select: none;
        pointer-events: none;
      }
    }
    .filter,
    .project-name {
      font-size: 14px;
    }
    .projects-header {
      display: flex;
      justify-content: space-between;

      i {
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        transition: 0.2s ease-in-out;
        color: $component-s;
      }

      .plus:hover {
        color: $primary;
        transform: scale(1.1);
      }
      .rotated {
        transform: rotate(45deg);
        transition: 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
    .projects {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
    .project-grp {
      overflow-x: hidden;
      margin-bottom: 16px;
      width: 100%;
      i {
        font-size: 14px;
      }
    }
    .project {
      display: flex;
      height: 32px;
      // width: 100%;
      padding: 8px;
      overflow: hidden;
      align-items: center;
      opacity: 1;
      // user-select: none;
      transition: 0.3s;
      .folder {
        pointer-events: none;
      }
      .project-name {
        width: 10vw;
        overflow-x: hidden;
      }
      .project-btn-grp {
        margin-left: auto;
        display: flex;
        i {
          font-size: 16px;
        }
        .options {
          opacity: 0;
        }
        .edit-p {
          margin-right: 8px;
        }
        .delete-p {
          margin-right: 0px;
        }
      }
      &:hover {
        .project-btn-grp {
          .options {
            opacity: 1;
          }
        }
      }
    }
    #project-name {
      width: 100%;
      height: 32px;
      margin-bottom: 8px;
    }
    .github {
      height: 24px;
      display: flex;
      justify-content: center;
      margin-top: auto;
      .fa-github {
        font-size: 25px;
      }
    }
  }
  .task,
  p {
    display: flex;
  }
  .content {
    width: 510px;
    overflow-x: hidden;
    .t-wrapper,
    .f-wrapper,
    .o-wrapper {
      height: 100%;
    }
    .t-wrapper {
      display: flex;
      flex-direction: column;
      .title-grp {
        display: flex;
        justify-content: space-between;
        // gap: 6px;
        .current-title {
          margin-top: 6px;
          margin-right: 12px;
          font-size: 14px;
          color: #454254;
        }
      }

      .no-tasks {
        color: $dk-subtext;
        display: flex;
        justify-content: center;
        margin-top: 16px;
        font-size: 20px;
        user-select: none;
      }
      .tasks {
        overflow-x: hidden;
        height: 40vh;
      }
      .task {
        user-select: none;
        z-index: 0;
        border-radius: 10px;
        height: 35px;
        margin-bottom: 8px;
        display: flex;
        padding-right: 10px;
        background-color: $component;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 8px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        transition: 0.2s ease-in-out;
        .hide-check {
          display: none;
        }
        .checkmark {
          margin: auto 0;
          height: 32px;
          transition: 0.2s ease-in-out;
          &:active {
            transform: scale(0.8);
          }
        }
        .fa-circle,
        .fa-circle-check {
          height: 32px;
          padding: 0 14px;
          display: flex;
          align-items: center;
        }
        p {
          height: 35px;
          border: none;
          line-height: 35px;
          font-size: 14px;
          font-weight: 300;
          user-select: none;
          pointer-events: none;
          color: $dk-text;
          overflow: hidden;
        }

        & input[type='checkbox'] {
          margin-right: 1vw;
        }
        div:last-of-type {
          margin-left: auto;
        }
        &:hover {
          background-color: $component-s;
          .actions {
            .edit,
            .fa-regular {
              transition: 0.2s ease-in-out;
              opacity: 1;
            }
          }
        }
        .actions {
          z-index: 2;
          display: flex;
          align-items: center;
          transition: 0.2s;
          gap: 4px;
          .options {
            height: 100%;

            display: flex;
            align-items: center;
          }
          i {
            transition: 0.2s ease-in-out;
          }
          .edit {
            opacity: 0;
            width: 30px;
            display: flex;
            justify-content: center;
          }
          span {
            display: flex;
          }
          .fa-regular {
            opacity: 0;
          }

          .fa-solid {
            color: $dk-subtext;
          }
        }
      }
    }
    .f-wrapper {
      display: none;
      .task-form {
        border-radius: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .form-header {
          margin-top: 24px;
        }
        #task {
          height: 36px;
        }
        #note {
          height: 15vh;
          // padding: 10px;
        }
        .extras-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
        }
        .extras {
          width: 45%;
        }
        input[type='date'] {
          width: 100%;
          padding: 0 5px 0 10px;
          transition: 0.3s ease-in;
          user-select: none;
          // pointer-events: none;
          &::-webkit-calendar-picker-indicator {
            transition: 0.1s ease-in;
            filter: $cal-indicator;
          }
          &::-webkit-calendar-picker-indicator:hover {
            scale: (1.1);
            filter: $cal-indicator;
          }
        }

        .fa-star {
          font-size: 24px;
          margin-top: 70px;
          margin-bottom: 6px;
          width: 30px;
          display: flex;
          justify-content: center;
          transition: 0.2s ease-in-out;
          color: $primary;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9) rotate(72deg);
          }
        }
        .fa-regular {
          font-size: 20px;
        }
        .starred {
          transition: 0.2s ease-in-out;
        }

        .btn-group {
          margin-top: auto;
          display: flex;
        }
        .back-btn {
          background-color: $card;
          border: none;
          color: $dk-text;
          font-size: 30px;
          transition: 0.3s ease-in-out;
        }

        .submit-btn {
          width: 130px;
          height: 40px;
          border-radius: 30px;
          border: none;
          margin-left: auto;
          font-size: 16px;
          color: $dk-text;
          background: $grad-base;
          background: linear-gradient(160deg, $gradient-1 0%, $gradient-2 100%);
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          transition: ease-in 0.3s;
          &:hover {
            transform: scale(1.02);
          }
          &:active {
            transform: scale(0.97);
          }
        }
      }
    }
    .o-wrapper {
      display: none;

      .expand-view {
        display: flex;
        flex-direction: column;
        width: 100%;
        user-select: none;
        .expand-header {
          margin-bottom: 24px;

          .project-grp {
            display: flex;
            margin-top: 2px;
            // margin-left: 12px;
            i {
              font-size: 20px;
              margin-right: 6px;
              // margin-top: 1px;
            }
            p {
              font-size: 16px;
            }
          }
        }

        .open-title-header {
          display: flex;
          justify-content: space-between;
          margin: 8px 16px;

          .fa-star {
            font-size: 24px;
            color: $primary;
          }
        }
        .note-wrapper {
          margin: 8px 16px 0 16px;
        }
        hr {
          height: 4px;
          background: $primary;

          border: none;
          border-radius: 2px;
          margin-bottom: 16px;
        }
        #open-title {
          color: $dk-text;
        }
        #open-note {
          color: $dk-subtext;
          display: block;
          font-size: 16px;
          white-space: pre-line;
          height: 30vh;
          overflow: scroll;
        }
        .bot-hr {
          margin-top: 16px;
          width: 88px;
          margin-left: auto;
        }
        .extras-wrapper {
          margin-top: auto;
          padding: 0 16px 8px 8px;
          display: flex;
          justify-content: space-between;
        }
        .extras {
          display: flex;
          align-items: center;
          .open-date {
            color: $primary;
            font-weight: 500;
          }
        }
        .btn-group {
          margin-top: auto;
          .back-btn {
            background-color: $card;
            border: none;
            color: $dk-text;
            font-size: 30px;
          }
        }
      }
    }
    .add-btn {
      margin-top: auto;
      width: 130px;
      height: 40px;
      border-radius: 24px;
      border: none;
      margin-left: auto;
      font-size: 16px;
      color: $dk-text;
      background: $grad-base;
      background: linear-gradient(160deg, $gradient-1 0%, $gradient-2 100%);
      transition: 0.2s ease-in;
      box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px 0px;

      &:hover {
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.slide-tasks-in {
  animation: ease-out taskRight reverse 0.1s;
}
.slide-tasks-out {
  animation: ease-out taskRight 0.1s;
}
@keyframes taskRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}
.slide-form-in {
  animation: ease-out formRight 0.1s;
}
.slide-form-out {
  animation: ease-out formRight reverse 0.1s;
}
@keyframes formRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes formVertical {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes formVerticall {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearForm {
  0% {
    // transform-origin: top;
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes textclip {
  100% {
    background-position: left;
  }
}

@media screen and (max-width: 480px) {
  .section-header {
    font-size: 18px;
  }
  .cards .content .f-wrapper .task-form .form-header {
    margin-top: 14px;
    margin-bottom: 10px;
  }
  .cards .content .f-wrapper .task-form .fa-star {
    margin-top: 50px;
  }
  .cards .content .f-wrapper .task-form #task {
    // height: 5.2vh;
  }
  // .cards .content .f-wrapper .task-form #note {
  //   height: 15vh;
  //   // margin-bottom: 0;
  // }
  .cards .content .f-wrapper .task-form .extras-wrapper {
    margin-bottom: 20px;
  }
  input[type='date'] {
    font-size: 10px;
  }
  .cards .content .t-wrapper .task p {
    font-size: 12px;
  }
  .header {
    opacity: 0;
    height: 0;
  }
  .cards .content .f-wrapper .task-form .fa-regular {
    font-size: 24px;
  }
  .cards .sidebar,
  .cards .content {
    transition: 0.1s ease-out;
    height: 70vh;
  }
  .cards .mobile-stretch {
    transition: 0.2s ease-out;
    margin-top: 5vh;
    height: 90vh;
  }
  .cards .sidebar {
    display: none;
  }
}
